body {
  background-image: url("https://media.giphy.com/media/3oKGzobrkE3FQxAG8U/giphy.gif");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  text-align: center;
  font-family: 'Sans-Serif';
  margin-top: 100px;
}

.container {
  margin-left: 600px;
  margin-right: 100px;
  background-color: white;
  color: #1B4F72;
  background-size: 80%;
}

h1 {
  font-size: 80px;
}


#svartalfheimNextDiv {
  font-size: 100px;
  display: none;
}

table, th, td {
  border: 1px solid black;
}

table {
  table-layout: fixed;
}

td, th {
  width: 10%;
  text-align: center;
}

table tr:nth-of-type(4n) td {
  border-bottom: 3px solid black;
}

table tr:nth-of-type(4n) th {
  border-bottom: 3px solid black;
}

#bordertyr {
  border-right: 3px solid black;
}

#bordergreen {
  border-bottom: 3px solid black;
}

.on{
  background-color: red;
}

.off{
  background-color: blue;
}

.black{
  color: black;
}

label {
  float: left;
}

.redblue {
  padding-right: 10px;
}

li {
  font-size: 24px;
}
