table, th, td {
  border: 1px solid black;
}

table {
  table-layout: fixed;
}

td, th {
  width: 10%;
}

table tr:nth-of-type(4n) td {
  border-bottom: 3px solid black;
}

table tr:nth-of-type(4n) th {
  border-bottom: 3px solid black;
}

#bordertyr {
  border-right: 3px solid black;
}

#bordergreen {
  border-bottom: 3px solid black;
}
