body {
  background-image: url("https://media.giphy.com/media/3oKGzobrkE3FQxAG8U/giphy.gif");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  text-align: center;
  font-family: 'Sans-Serif';
  margin-top: 100px;
}

.container {
  margin-left: 600px;
  margin-right: 100px;
  background-color: white;
  color: #1B4F72;
  background-size: 80%;
}

h1 {
  font-size: 80px;
}

#beginNext {
  display: none;
}

@@font-face {
  font-family: "floki"
  src: url("../fonts/floki/floki-Hard.ttf") format("truetype");
}

h1.customfont {
  font-family: "floki", Veranda;
  letter-spacing: 6px;
}

#startEnglish {
  font-size: 16px;
}

.btn {
  background: #6a7574;
  background-image: -webkit-linear-gradient(top, #6a7574, #ccd8e0);
  background-image: -moz-linear-gradient(top, #6a7574, #ccd8e0);
  background-image: -ms-linear-gradient(top, #6a7574, #ccd8e0);
  background-image: -o-linear-gradient(top, #6a7574, #ccd8e0);
  background-image: linear-gradient(to bottom, #6a7574, #ccd8e0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #0a010a;
  font-size: 60px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #192933;
  background-image: -webkit-linear-gradient(top, #192933, #36804d);
  background-image: -moz-linear-gradient(top, #192933, #36804d);
  background-image: -ms-linear-gradient(top, #192933, #36804d);
  background-image: -o-linear-gradient(top, #192933, #36804d);
  background-image: linear-gradient(to bottom, #192933, #36804d);
  text-decoration: none;
}

font-family:"
