body {
  background-image: url("https://media.giphy.com/media/3ohhwhUwyOA2QgI3Cw/giphy.gif");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  text-align: center;
  font-family: 'Sans-Serif';
  margin-top: 100px;
}

.container {
  margin-left: 600px;
  margin-right: 100px;
  background-color: white;
  color: #1B4F72;
  background-size: 80%;
}

h1 {
  font-size: 80px;
}

#beginNext {
  display: none;
}

@@font-face {
  font-family: "floki"
  src: url("../fonts/floki/floki-Hard.ttf") format("truetype");
}

h1.customfont {
  font-family: "floki", Veranda;
  letter-spacing: 6px;
}

#startEnglish {
  font-size: 16px;
}

form {
  font-size: 50px;
}

font-family:"
