#helNextDiv {
  display: none;
}

body {
  background: black;
}

#memory_board{
	background: rgba(218, 247, 166, 0.80);
	border: black 1px solid;
	width:1110px;
	height:440px;
	padding:24px;
	margin:0px auto;
}

/*all child divs within/memory_board*/
#memory_board > div{
	background: #ffffff;
	border:#000 1px solid;
	width:155px;
	height:110px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:22px;
	cursor:pointer;
	text-align:center;
}
