#vanaheimNextDiv {
  display: none;
}

body {
  background-image: url("https://media.giphy.com/media/3ohhwhUwyOA2QgI3Cw/giphy.gif");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  text-align: center;
  font-family: 'Sans-Serif';
  margin-top: 100px;
}

.container {
  margin-left: 600px;
  margin-right: 100px;
  background-color: white;
  color: #1B4F72;
  background-size: 80%;
}

#memory_board{
	background: rgba(218, 247, 166, 0.80);
	border: black 1px solid;
	width:1110px;
	height:440px;
	padding:24px;
	margin:0px auto;
}

/*all child divs within/memory_board*/
#memory_board > div{
	background: #ffffff;
	border:#000 1px solid;
	width:155px;
	height:110px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:22px;
	cursor:pointer;
	text-align:center;
}
